<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Member">
    <insert id="save" parameterType="member">
        insert into user(userEmail, userPw, userName, userAge, userPhoneNumber)
        values (#{userEmail}, #{userPw}, #{userName}, #{userAge}, #{userPhoneNumber})
    </insert>
    <select id="login" parameterType="member" resultType="member">
        select userEmail from user where userEmail = #{userEmail} and userPw = #{userPw}
    </select>
    <select id="userList" resultType="member">
        select * from user
    </select>

    <select id="userInfo" parameterType="Long" resultType="member">
        select * from user where id=#{id}
    </select>

    <delete id="delete" parameterType="Long">
        delete from user where id=#{id}
    </delete>

    <select id="userDetailInfo" parameterType="Object" resultType="member">
        select * from user where userEmail = #{userEmail}
    </select>

    <update id="updateUserInfo" parameterType="member">
        update user set userName = #{userName}, userPhoneNumber = #{userPhoneNumber}, userAge = #{userAge} where userEmail = #{userEmail}
    </update>
</mapper>